/* * {
    outline: red solid 1px;
} */

body {
    font-family: 'Noto Sans TC', sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.overlay {
    position: absolute;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.7)
}

.overlay_img {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/rule.png);
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.sidebar {
    background-color: #FAFAFA;
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 450px;
    min-width: 400px;
}

.topbar {
    padding: 12px 20px;
    ;
    display: flex;
    justify-content: space-between;
    background-color: white
}

.topbar_right {
    display: none;
}

.topbar_left {
    display: flex;
    align-items: center;
}

.topbar_left span {
    color: #34495E;
    font-size: 16px;
    margin-left: 1em;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    height: 25px;
}

.location_input {
    width: 95%;
    height: 100%;
    padding: 10px;
    border: 1px solid #34495E33;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
    background-color: white;
}

.location_input_overlay {
    display: none;
    top: 50px;
    position: fixed;
    width: 20%;
    margin: 60px 5px;
    background: rgb(255, 255, 255, 0.95);
    border: 1px #34495E33 solid;
    border-radius: 5px;
    overflow: auto;
    max-height: 30%;
}

.location_input_overlayli {
    cursor: pointer;
    color: #566778;
    padding: 10px;
}

.location_input_overlayli:hover {
    color: white;
    background-color: #566778;
}

.location_btn {
    width: 5%;
    height: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid #34495E33;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  */

.info_top {
    display: flex;
    align-items: flex-end;
    margin: 12px 20px;
    ;
}

.info_top h2 {
    color: #34495E;
    font-size: 36px;
    font-weight: 900;
}

.info_top small {
    color: #34495E;
    margin-left: 8px;
    margin-right: 8px;
}

.info_top img {
    cursor: pointer;
}

.info_bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
    ;
}

.info_bot div {
    color: #566778;
    font-size: 12px;
    padding: 1px 0px
}

.info_bot button {
    cursor: pointer;
    color: #34495E;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    padding: 8px 20px;
    border: 2px solid #34495E;
    border-radius: 100px;
}

.groupLi {
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #0000001A;
}

.quantities {
    display: flex;
    justify-content: space-between;
}

.quantities_full {
    background-color: #11787A;
}

.quantities_few {
    background-color: #E67E22;
}

.quantities_none {
    background-color: #70777C;
}

.quantities_content {
    width: 42%;
    padding: 15px 0px 15px 15px;
    border-radius: 10px;
    color: white;
}

.quantities_title {
    font-size: 14px;
}

.quantities_numbers {
    display: flex;
    justify-content: space-between;
}

.quantities_numbers div {
    display: flex;
    align-items: flex-end;
}

.quantities_numbers div h3 {
    font-size: 29px;
    margin-right: 6px;
}

.group {
    height: 72vh;
    overflow: auto;
}

.groupLi_title,
.groupLi_address,
.groupLi_address span,
.groupLi_phone,
.groupLi_phone span {
    display: flex;
}

.groupLi_title {
    margin-top: 20px;
    margin-bottom: 12px;
}

.groupLi_title h3 {
    margin-right: 7px;
    color: #34495E;
    font-size: 16px;
    font-weight: bold;
}

.groupLi_title small {
    align-self: flex-end;
    margin-right: 7px;
    color: #34495E;
    font-size: 12px;
    font-weight: bold;
}

.groupLi_title p {
    align-self: center;
    padding: 3px 6px;
    color: #F39C12;
    background-color: lightyellow;
    font: 12px bold;
    border-radius: 4px;
}

.groupLi_address {
    justify-content: space-between;
    margin-bottom: 14px;
}

.groupLi_phone {
    justify-content: space-between;
    margin-bottom: 5px;
}

.groupLi_address,
.groupLi_phone,
.groupLi_address a,
.groupLi_phone a,
.groupLi_address a:visited,
.groupLi_phone a:visited {
    color: #566778;
    font-size: 14px;
}

.groupLi_address h3,
.groupLi_phone h3 {
    margin-right: 10px;
    color: #34495E;
    font-size: 14px;
}

.groupLi_address p {
    width: 200px;
}

.sidebarFooter {
    background-color: #34495E;
    padding: 8px 24px;
}

.sidebarFooter_phone {
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarFooter_Engineer {
    color: #566778;
    font-size: 12px;
    padding-bottom: 8px;
}

#map {
    /* background-color: blueviolet; */
    width: 80%;
    height: 100vh;
}

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
    line-height: 30px;
}

@media (max-width:414px) {
    .wrapper {
        display: block;
    }
    .sidebar {
        width: 100%;
        position: fixed;
        display: none;
        z-index: 2;
        min-width: 0;
    }
    .location_input_overlay {
        width: 80%;
    }
    #map {
        width: 100%;
        height: 100vh;
        z-index: 1;
    }
    .sidebarFooter {
        display: none
    }
    .topbar_right {
        display: block;
    }
    .groupLi_address p {
        width: 180px;
    }
    .overlay {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .overlay_img {
        background-size: cover;
        height: 80vh;
    }
}